<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="StockAutomationSuite" parallel="tests" thread-count="3">

    <test name="ChromeTest">
        <parameter name="browser" value="chrome"/>
        <parameter name="stockSymbol" value="tatamotors"/>
        <classes>
            <class name="com.example.tests.StockInformationTest"/>
        </classes>
    </test>

    <!--
    <test name="FirefoxTest">
        <parameter name="browser" value="firefox"/>
        <parameter name="stockSymbol" value="RCOM"/>
        <classes>
            <class name="com.example.tests.StockInformationTest"/>
        </classes>
    </test>

    <test name="EdgeTest">
        <parameter name="browser" value="edge"/>
        <parameter name="stockSymbol" value="infy"/>
        <classes>
            <class name="com.example.tests.StockInformationTest"/>
        </classes>
    </test>
 -->
</suite>
